.container {
  padding: 24px;
}

.table-container {
  padding-top: 20px;
  display: flex;
  justify-content: center;
}

main {
  text-align: center;
}

table {
  border-collapse: collapse;
}

tr {
  border-bottom: 1px solid #ddd;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #D6EEEE;
}

td:nth-child(2) {
  text-align: center;
}
